body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Times, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 450px;
    overflow: hidden;
}
#display{
    height: 40px;
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}


button{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(39, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(39, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(39, 100%, 75%);
}
.specialOperator-btn{
    font-size: 35px;
    border-radius: 40px;
    width: 85px;
    height: 50px;
    background-color: hsl(39, 100%, 50%);
}
.specialOperator-btn:hover{
    background-color: hsl(39, 100%, 65%);
}
.specialOperator-btn:active{
    background-color: hsl(39, 100%, 75%);
}

@media screen and (max-width: 600px){
    button, .specialOperator-btn, .operator-btn, #calculator, body{
        width: 100%;
    }
}